body{
    background-color: ivory;
    font-size: 20px;
}
.container {
   max-width: 1048px;
    margin: 0 auto;
  }
  
  .bgr{
      width: 100%;
      background: url('assets/ezgod.gif') no-repeat center;
      background-size: contain;
      padding-top: 40%;
  }
  h1{
      color: maroon;
      text-align: center;
      font-size: 50px;
      font-family: 'Times New Roman', Times, serif;
      text-decoration: underline solid maroon;
  }
p.intro{
    font-size: 20px;
    text-indent: 1cm;
}

h1,
p,
a{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

h1.topic{
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
  color: aliceblue;
}



.header {
  width: 100%;
  padding:0px 0;
  text-align: center;
  background: maroon;
  color: white;
}
 p.mono{
     font-size: 18px;
 }
 dl:after {content:"";display:table;clear:both;}
 dt {
    float: left;
    width: 30%;
    text-align: right;
    padding: .25em;
    clear: left;
    font-weight: bolder;
    font-size: 20px;
}
dd {
    float: left;
    width: 60%;
    padding: .25em 0;
    font-style: italic;
    font-size: 20px;
}
p.main{
    text-indent: 1cm;
}
p.outro{
    text-indent: 1cm;
}
button{
    margin: 30px;
    color: white;
    font-size: 17px;
    padding-top: 10px;
}
button.science{
    background-color: green;
}
button.art{
    background-color: crimson;
}
button.media{
    background-color: blue;
}
button.sst{
    background-color: aliceblue;
    color: black;
}
button.sa{
    background-color: aquamarine;
    color: black;
}
button.history{
    background-color: chocolate;
}
.science {
    transition-duration: 0.4s;
  }
  
  .science:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  .sa {
    transition-duration: 0.4s;
  }
  
  .sa:hover {
    background-color: aqua; /* Green */
    color: white;
  }
  .sst {
    transition-duration: 0.4s;
  }
  
  .sst:hover {
    background-color: black; /* Green */
    color: white;
  }
  .media {
    transition-duration: 0.4s;
  }
  
  .media:hover {
    background-color: deepskyblue; /* Green */
    color: white;
  }
  .art {
    transition-duration: 0.4s;
  }
  
  .art:hover {
    background-color: deeppink; /* Green */
    color: white;
  }
  .history {
    transition-duration: 0.4s;
  }
  
  .history:hover {
    background-color: coral; /* Green */
    color: white;
  }
  h5.outro{
    font-style: italic;
  }
  q.q{
    font-style: italic;
    text-indent: 1cm;
  }
